.section{
    display: flex;
    flex: wrap;
    border: 5px solid red;
}

.logo {
    display: flex;
    flex: flex wrap;
    border: 5px solid red;

}

.marked{
    display: flex;
    flex: wrap;
    border: 5px solid red;
}